---
import ProfileButton from "./ProfileButton.astro";
import { Icon } from "astro-icon/components";
---


<ProfileButton server:defer>
  <div class="flex gap-2" slot="fallback">
    <Icon name="mdi:account" class="text-3xl" />
    <span class="w-15"></span>
  </div>
</ProfileButton>
