---
import SignOutButtonClient from "@/components/auth/SignOutButton";
import Layout from "../layouts/Layout.astro";
export const prerender = false;

const { session, user } = Astro.locals;
if (!session) {
  return Astro.redirect("/");
}
---

<!-- <UserCard initialSession={session} /> -->
<Layout title="profile" >
  <h1>Welcome {user?.name}</h1>
  <p>We are happy to see you here</p>
  <SignOutButtonClient client:load />
</Layout>
