---

---

<article class="w-full md:w-120 ">
  <!-- <h2 class="">Floor Plan (Printable)</h2> -->
  <a
    href="https://cdn.michaelceryak.com/image/Innovation-1856H-Floorplan.pdf"
    target="_blank"
  >
  <figure class="items-center flex flex-col">
    <img
      id="floor-plan"
      src="https://cdn.michaelceryak.com/image/Innovation-1856H-Floorplan.jpg"
      alt="Printable Floor Plan"
    />
    <figcaption>Click for printable PDF</figcaption>
  </figure>
  </a>
</article>