---
interface Props {
  modelNumber: string
}
const { modelNumber }: Props = Astro.props;
---

<button
  id="info-request-btn"
  data-model={modelNumber}
  class="p-2 md:p-3 md:w-50 lg:w-60 bg-sky-700 cursor-pointer text-zinc-100 rounded-md hover:scale-105 transition-transform text-xl"
>
  Request Info
</button>

<script >
  import { navigate } from "astro:transitions/client";

  document.getElementById('info-request-btn')?.addEventListener('click', () => {
    console.log('clicked');
    const { model } = document.getElementById('info-request-btn')?.dataset; 
    const message = `I would like information about ${model}.`;
    navigate(`/contact?message=${message.replaceAll(' ', '%20')}`); 
  })
</script>
